.container{
    position: fixed;   /* changed from sticky to fixed */
    bottom: 0px;
    background: white;
    height: 48px;
    width: 100%;
    z-index: 100;  
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}