.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}


.masonry>* {
  break-inside: avoid;
  width: 100%;
}

.scrollableContainerDesktop {
  height: 100%;
  overflow-y: auto;
  padding: 0 10px;
}

.masonry {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.masonryCardWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .masonry {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .masonry {
    grid-template-columns: 1fr;
  }
}