.card {
    min-width: 180px;
    width: 100%;
    max-width: 300px;
    margin: 25px auto; 
    border-bottom: 1px solid #dbdbdb;
    border-radius: 3px;
    
  }
  .profileHeader{
    padding: 16px;
  }
  .header {
    display: flex;
    padding: 16px;
    align-items: center;
  }
  
  .profilePic {
    width: 32px;
    height: 32px;
    background-color: #dbdbdb;
    border-radius: 50%;
    margin-right: 12px;
  }
  
  .image {
    width: 100%;
    background-color: #dbdbdb;
    object-fit: cover; /* This ensures the aspect ratio of the image is maintained as it scales up to fill the container's width */
  }
  
  .content {
    padding: 16px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .icon {
    margin-right: 16px;
  }

  .card {
    position: relative;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    /* Add more styles as per your need */
}

.card:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add some shadow for 3D effect */
}

.iconSectionHidden {
    display: none;
    transition: opacity .2s ease-in-out;
}

.card:hover .iconSectionHidden {
    display: block;
}
