.container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);

}

.pair {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    align-items: center;
}

.key {
    color: gray;
}