.container {
    height: 100vh;
    display: flex;
  }
  .home{
    flex: 6;
    height: calc(100% - 50px);
    overflow: auto;
  }

  @media screen and (min-width:768px) {
    .home{
      height: 100%;

    }
  }