.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    padding: 24px 56px;
}
.logoContainer{
    flex: 1;
}
.searchContainer{
    flex:7 ;
}
.searchBox {
    position: relative;
    margin-left: 32px;
    width: 90%;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #dbdbdb;
    padding:4px 8px;
}

.searchInput {
    outline: none;
    border: none;
    width: 100%;
}

.searchIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.icons{
    flex: 6;
    display: flex;
    justify-content: flex-end;
}
.iconsLeft{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.iconContainer {
    width: 45%;
    display: flex;
    gap:24px;
    justify-content: flex-end;
    align-items: center;
}
.iconLeftContainer {
    width: 75%;
    display: flex;
    gap:24px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10%;
}

.subcontainer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.subcontainer span {
    margin-left: 10px;
}
@media screen and (max-width:1500px) {
    .subcontainer span{display:none}
}