.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
}
.link{
    font-size: 18px;
    cursor: pointer;
}
.image{
    height: 100%;
    width: 100%;
    max-width: 320px;
    max-height: 320px;
}
